* {
  margin: 0%;
  padding: 0%;
}

p {
  color: #9ea29e;
  font-size: 1.2rem;
  /* margin-bottom:2rem ; */
  margin-top: 2rem;
}

.flight-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #172014;
  min-height: 100vh;
  width: 100vw;
}

.form-group {
  margin: 10px 0;
}

label {
  color: #ffffff;
  font-size: 16px;
}

select {
  width: 200px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #00bfa5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #009e8c;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.result-card {
  background-color: #1a4d2f;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 250px;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.card-body {
  text-align: center;
}

.miles-info div {
  /* margin: 10px; */
  margin: 0%;
  padding: 0%;
}

.tax-info {
  margin-left: 1rem;
}

.inputStyle {
  background-color: "#181818" !important;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0px !important;
}
